.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #d6d6d6;
  border-radius: 50%;
  border-top-color: #6200ee;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  margin-right: 10px;
  position: absolute;
  top: 57%;
  left: 50%;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.albums {
  margin-top: 70px;
}

.create-album {
  position: relative;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 70%;
  margin: 20px;
}

.create-album textarea {
  /* margin: auto; */
  height: 90px;
  width: 100%;
  resize: none;
  padding: 10px;
  background-color: #ebc0c0;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
  /* line-height: 22px; */
  color: #424242;
  display: block;
  box-sizing: border-box;
}

.create-album textarea:focus {
  outline: none;
  border: 2px solid #d96c6c;
}

.create-album button {
  position: absolute;
  width: 112px;
  height: 42px;
  right: 0px;
  bottom: -50px;
  background: #8ae52e;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.album-detail {
  padding: 15px;
  font-size: 25px;
  color: #424242;
  margin: 15px;
  background-color: #ebc0c0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.album-detail input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
  font-size: 25px;
  color: #424242;
  width: 80%;
}

.album-detail input:focus {
  outline: none;
}

.album-detail i {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: black;
}

.fa-pencil:hover {
  color: green;
}

.fa-trash-can:hover {
  color: red;
}

.album-title-delete {
  color: red;
}
